@model _2106PaymentModule.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentType" class="control-label"></label>
                <input asp-for="paymentType" class="form-control" />
                <span asp-validation-for="paymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentDate" class="control-label"></label>
                <input asp-for="paymentDate" class="form-control" />
                <span asp-validation-for="paymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control" />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookingId" class="control-label"></label>
                <input asp-for="bookingId" class="form-control" />
                <span asp-validation-for="bookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <script src="https://www.paypal.com/sdk/js?client-id=ATi6iPTpO97wghHbX7TvRxHB8YU4E6ngMOfPlIWWVUj4Z8qhvcHfyWaUVMLBku0NQSz8nqufNopsPUZ8">
                    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
                </script>

                <div id="paypal-button-container"></div>

                <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
                <script>
                    paypal.Buttons({
                        enableStandardCardFields: true,
                        createOrder: function (data, actions) {

                            return actions.order.create({
                                intent: 'CAPTURE',
                                payer: {
                                    name: {
                                        given_name: "test name",
                                        surname: "Surname"
                                    },
                                    address: {
                                        address_line_1: '123 ABC Street',
                                        address_line_2: 'Apt 2',
                                        admin_area_2: 'San Jose',
                                        admin_area_1: 'CA',
                                        postal_code: '95121',
                                        country_code: 'US'
                                    },
                                    email_address: "customer@domain.com",
                                    phone: {
                                        phone_type: "MOBILE",
                                        phone_number: {
                                            national_number: "14082508100"
                                        }
                                    }
                                },
                                purchase_units: [
                                    {
                                        amount: {
                                            value: '1.00',
                                            currency_code: 'USD'
                                        },
                                        shipping: {
                                            address: {
                                                address_line_1: '2211 N First Street',
                                                address_line_2: 'Building 17',
                                                admin_area_2: 'San Jose',
                                                admin_area_1: 'CA',
                                                postal_code: '95131',
                                                country_code: 'US'
                                            }
                                        },
                                    }
                                ]
                            });

                        },
                        onApprove: function (data, actions) {
                            // This function captures the funds from the transaction.
                            return actions.order.capture().then(function (details) {
                                // This function shows a transaction success message to your buyer.
                                //TODO save data into Db over here
                                alert('Transaction completed by ' + details.payer.name.given_name + ' ' + details.payer.name.surname + ' paid ' + details.purchase_units[0].amount.value);
                            });
                        }
                    }).render("#paypal-button-container");
                </script>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
