@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Part of travel group, Destinations Inc. Travel Portal was created to allow customers to make air 
    travel reservations, make payments, buy value-added services and retrieve their travel itineraries.</p>
<img clas="center" src="~/images/logo.png"/>