@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/Contact/SIT_Campus_pics_0002_SIT_NYP.jpg"/>
<address>
    SIT@NYP<br />
    Nanyang Polytechnic<br />
    172A Ang Mo Kio Ave 8, Singapore 567739<br />
    (beside Blk Q of NYP campus)<br />
    <abbr title="Phone">P:</abbr>
    65 6592 1189
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@travelportal.com">support@travelportal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@travelportal.com">marketing@travelportal.com</a>
</address>
